.Card1{
    border:5px solid red;
    background-color: red;
}
.Card2{
    border:5px solid yellow;
    background-color: yellow;
}
.Card3{
    border:5px solid green;
    background-color: green;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 16rem));
    gap:6rem;
    justify-content: center;
    margin-bottom: 10%;
    padding-bottom: 10%;
}